.cell {
  display: grid;
  align-items: center;
  justify-content: center;
  background-color: white;
  border-radius: 5px;
  font-size: 6rem;
  color: #00000066;
  cursor: pointer;
}
.cell:hover {
  box-shadow: 1px 1px 10px grey;
}

.board {
  display: grid;
  grid-template-columns: repeat(3, 140px);
  grid-template-rows: repeat(3, 140px);
  gap: 1rem;
  justify-content: center;
}

.board.game-over {
  opacity: 0.6;
}

.cell.O,
.cell.X,
.game-over .cell {
  cursor: not-allowed;
}

.cell.O {
  background-color: #1982c4;
}

.cell.X {
  background-color: #ff595e;
}

.footer {
  text-align: center;
}
.winner-message {
  margin: 1rem;
}
.winner-message span.O {
  color: #1982c4;
}
.winner-message span.X {
  color: #ff595e;
}
.winner-message span.D {
  color: #8ac926;
}
