* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: grid;
  align-items: center;
  justify-content: center;
  font-family: sans-serif;
  height: 100vh;
  background-color: #eee;
  color: #555;
}

.title {
  text-align: center;
  font-size: 4rem;
  color: #555;
  margin-bottom: 5rem;
}
.App {
  text-align: center;
  font-size: 5rem;
}

button {
  padding: 1.5rem 2rem;
  border: none;
  border-radius: 5px;
  box-shadow: 0 1px 3px 0 grey;
  background-color: #8ac926;
  color: white;
  font-size: 2rem;
  font-weight: bold;
  outline-style: none;
  cursor: pointer;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

#react-logo {
  height: 200px;
  padding-bottom: 20px;
}

#tttoe_game,
#rps_game {
  height: 500px;
  padding-bottom: 20px;
  margin-top: 30px;
}
.container_games {
  display: grid;
  grid-template-columns: repeat(2, 600px);
  justify-content: center;
  margin-top: 30px;
}
.games {
  text-align: center;
}

a {
  text-decoration: none;
}
.header {
  background-color: #555;
  color: #eee;
  width: 100vw;
  padding: 40px;

  margin: 20px auto;
}
.title_game_home {
  font-size: 40px;
}
.title_header {
  font-size: 80px;
}

.navbar-brand {
  font-size: 30px;
}

.navbar {
  justify-content: flex-end;
}

.navbar-brand:hover {
  border-bottom: 1px solid;
  text-decoration: none;
}
