* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: grid;
  align-items: center;
  justify-content: center;
  font-family: sans-serif;
  height: 100vh;
  background-color: #eee;
  color: #555;
}

.title {
  text-align: center;
  font-size: 4rem;
  color: #555;
  margin-bottom: 5rem;
}
.App {
  text-align: center;
}

button {
  padding: 1.5rem 2rem;
  border: none;
  border-radius: 5px;
  box-shadow: 0 1px 3px 0 grey;
  background-color: #8ac926;
  color: white;
  font-size: 2rem;
  font-weight: bold;
  outline-style: none;
  cursor: pointer;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
