* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: grid;
  align-items: center;
  justify-content: center;
  font-family: sans-serif;
  background-color: #eee;
  color: #555;
}

.title {
  text-align: center;
  font-size: 3rem;
  color: #555;
  margin: 2rem;
}
.App {
  text-align: center;
  width: 100vw;
}

button {
  padding: 0.7rem 1.2rem;
  border: none;
  border-radius: 5px;
  box-shadow: 0 1px 3px 0 grey;
  background-color: #8ac926;
  color: white;
  font-size: 1.5rem;
  font-weight: bold;
  outline-style: none;
  cursor: pointer;
}

.navbar-brand {
  color: rgb(93, 188, 210);
}
.a:hover {
  text-decoration: none;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

#react-logo {
  height: 150px;
}

#tttoe_game,
#rps_game {
  display: grid;
  height: 300px;
  padding-bottom: 20px;
  margin-top: 30px;
}
.container_games {
  display: grid;
  grid-template-columns: repeat(2, 600px);
  justify-content: center;
  margin-top: 30px;
}
.games {
  text-align: center;
}

a {
  text-decoration: none;
}
.header {
  background-color: #555;
  color: #eee;
  width: 100vw;
  padding: 40px;

  margin: 20px auto;
}
.title_game_home {
  font-size: 40px;
}
.title_header {
  font-size: 60px;
}

.navbar-brand {
  font-size: 20px;
}

.navbar {
  justify-content: flex-end;
}

.navbar-brand:hover {
  border-bottom: 1px solid;
  text-decoration: none;
}
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
